@charset "utf-8";
/* ===================================================================
 style info : ヘッダーやフッターなどサイト内共通
=================================================================== */

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 50px;
}

/*----------------------------------------------------
	header#globalHeader
----------------------------------------------------*/
header#globalHeader {
	background:#333;
	min-height:60px;
	padding:10px 0 0 0;
	margin-bottom:20px;
	position:relative;
	z-index:10;
}


/*----------------------------------------------------
	#contents（メインとサイド）
----------------------------------------------------*/
#contents {
	text-align:left;
	margin-bottom: 35px;
	max-width: 1200px;
	margin: 0 auto;
}


/*----------------------------------------------------
	footer#globalFooter
----------------------------------------------------*/
footer#globalFooter {
	background:#333;
	clear: both;
	color:#fff;
  bottom: 0;
  position: absolute;
  width: 100%;
}


/* copyright
----------------------------------------------------*/
footer#globalFooter p.copyright {
  padding:5px;
  margin: 1px 0px;
}


