<div class="clearfix">
  <%= f.label t('activemodel.attributes.project.name') %>
  <%= f.text_field :name, class: "xxlarge" %>
</div>
<div class="clearfix">
  <%= f.label t('activemodel.attributes.project.description') %>
  <%= f.text_area :description, class: "xxlarge", rows: "5" %>
</div>

