<% if projects.count > 0 -%>
  <% projects.each do |project| -%>
    <div class="row show-grid">
      <div class="span14">
        <%= link_to h(project.name), url(:projects, :index, project.token) %>
        <p>
        <small><%=l project.created_at.to_date, format: :long %></small>
        </p>
      </div>
      <div class="span">
        <% if project.author == current_account -%>
          <%= link_to "削除", url(:projects, :index, project.token), class: "btn danger",
            confirm: "削除してよろしいですか？", method: :delete %>
        <% end -%>
      </div>
    </div>
  <% end -%>
<% else -%>
  まだありません。
<% end -%>
