<% content_for :head do -%>
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag "bootstrap.min" %>
<% end -%>

<div class="container">
  <div class="hero-unit">
    <h2><%=h @project.name %> のふりかえりが作成されました</h2>
    <p class="lead">以下のURLからふりかえりを入力できます。</p>
    <input class="xxlarge" type="text" value="<%= @url %>" />
    <%= link_to "ページを表示する", @url, class: "btn primary" %>
  </div>
</div>

