<% content_for :head do -%>
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag "bootstrap.min" %>
<%= javascript_include_tag "bootstrap-alerts" %>
<% end -%>

<div class="container">
  <div class="page-header">
    <h2>「kpt-it」はKPTによるふりかえりをリアルタイムで共有するサービスです</h2>
    <p>KPTとは、活動内容を Keep/Problem/Try という3つの軸で整理する手法です</p>
    <div class="row">
      <div class="span5">
        <h3>Keep</h3>
        <p>やってみて良かったので今後も続けたいこと</p>
      </div>
      <div class="span5">
        <h3>Problem</h3>
        <p>失敗したことや問題だったこと</p>
      </div>
      <div class="span5">
        <h3>Try</h3>
        <p>次回やってみたいこと</p>
      </div>
    </div>
  </div>
  <%=link_to image_tag("sign-in-with-twitter-d.png"), "/auth/twitter" %>
</div>
