-# coding: utf-8
%div.hero-unit
  %h1 KTPを共有しよう
  %p kpt-itはKPTによるふりかえりをリアルタイムで共有するサービスです
  %p
    %a(href="/new" class="btn btn-primary btn-large")始める &raquo;

%div.page-header
  %h2 KPTとは、活動内容を Keep/Problem/Try という3つの軸で整理する手法です

%div.cf(id="main")
  %div.row
    %section.left
      %h3 Keep
      %div.box やってみて良かったので続けたいこと
    %section.left
      %h3 Problem
      %div.box 失敗したことや問題だったこと
    %section.left
      %h3 Try
      %div.box 次回やってみたいこと

