<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>kpt-it</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "import" %>

    <%= javascript_include_tag "application", "jquery", "jquery-ujs" %>
  </head>
  <body>
  <header id="globalHeader">
  <div class="inhead cf">
    <h1 class="logo">kpi-it</h1>
  </div>
  <!-- / #globalHeader -->
  </header>

      <%= yield %>

    <footer id="globalFooter">
    <p class="copyright"><small>Copyright© 2011 kpi-it All Rights Reserved.</small></p>
    <!-- / #globalFooter --></footer>

  </body>
</html>
